<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-export:war exploded">
    <output-path>$PROJECT_DIR$/spring-boot-export/target/spring-boot-export-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-export" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.4" />
          <element id="library" level="project" name="Maven: org.apache.poi:poi:3.9" />
          <element id="library" level="project" name="Maven: commons-codec:commons-codec:1.11" />
          <element id="library" level="project" name="Maven: org.apache.poi:poi-ooxml:3.9" />
          <element id="library" level="project" name="Maven: dom4j:dom4j:1.6.1" />
          <element id="library" level="project" name="Maven: xml-apis:xml-apis:1.4.01" />
          <element id="library" level="project" name="Maven: org.apache.poi:poi-ooxml-schemas:3.9" />
          <element id="library" level="project" name="Maven: org.apache.xmlbeans:xmlbeans:2.3.0" />
          <element id="library" level="project" name="Maven: stax:stax-api:1.0.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-log4j12:1.4.2" />
          <element id="library" level="project" name="Maven: org.apache.wicket:wicket:1.3.2" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.14" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-boot-export/target/spring-boot-export-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-export/web/Web" />
    </root>
  </artifact>
</component>