<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-export:war">
    <output-path>$PROJECT_DIR$/spring-boot-export/target</output-path>
    <root id="archive" name="spring-boot-export-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-export:war exploded" />
    </root>
  </artifact>
</component>